ipywidgets==8.0.4
jupyter
jupyterlab==3.4.4
jupyterlab-widgets==1.0.2

numpy
pandas
matplotlib
seaborn
plotly==5.11.0

yfinance
scikit-learn
scipy==1.9.3
optuna
tensorflow==2.11.0
keras==2.11.0
cvxpy
pypfopt

xgboost==1.7.1
lightgbm==3.3.5
statsmodels==0.13.5
torch
