ipywidgets==8.0.4
jupyter
jupyterlab-widgets==1.0.2
jupyterlab==3.4.4
keras==2.11.0
lightgbm==3.3.5
matplotlib
numpy
pandas
plotly
plotly==5.11.0
scikit-learn
scipy==1.9.3
seaborn
statsmodels==0.13.5
tensorflow
tensorflow==2.11.0
torch
xgboost==1.7.1